* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: sans-serif;
  background: linear-gradient(-45deg, #577eff, white, #ffbb3c);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: center;
  position: relative;
}

.container a {
  color: white;
  font-weight: bold;
}

.container .introduction {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.402);
  top: 50%;
  background: linear-gradient(-45deg, rgba(255, 187, 60, 0.217), rgba(87, 126, 255, 0.165));
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  overflow: hidden;
  border-radius: 8px;
  z-index: 2;
}

.container .introduction .inner {
  background-color: white;
  background-color: rgba(255, 166, 0, 0.923);
  margin: 5px;
  width: 97%;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: 1s cubic-bezier(0, 0.62, 0.88, 0.19);
  transition: 1s cubic-bezier(0, 0.62, 0.88, 0.19);
  padding: 6px;
  border-radius: 4px;
  font-size: 16px;
}

.container .introduction .inner img {
  width: 2em;
  height: 2em;
}

.container .introduction .in1 {
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.container .introduction .in2 {
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.container .introduction .in3 {
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.container .introduction .in4 {
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.container .introduction .startBut {
  padding: 7px;
  background-color: #ff6600;
  color: white;
  border: 1px solid inherit;
  border-radius: 5px;
  width: 97%;
  font-weight: bold;
  font-size: 21px;
  cursor: pointer;
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  margin: 5px;
}

.container .introduction .animateIntro {
  -webkit-transform: translate(0%);
          transform: translate(0%);
  opacity: 1;
}

@media (max-width: 909px) {
  .container .introduction {
    width: 70%;
  }
  .container .introduction .inner {
    font-size: 14px;
  }
  .container .introduction .startBut {
    font-size: 18px;
  }
}

.container .hideIntro {
  display: none;
}

.container .paymentLink {
  font-family: cursive;
}

.container .loaderCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.839);
  z-index: 3;
  display: none;
}

.container .loaderCont .loading {
  font-weight: bold;
  display: block;
  margin-top: 14em;
  background-color: white;
  background: linear-gradient(45deg, #ff9204, white, #ff9204);
  color: black;
  padding: 18px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: bounce .8s linear infinite alternate;
          animation: bounce .8s linear infinite alternate;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.container .bgImg {
  width: 15em;
  height: 15em;
  position: absolute;
  opacity: 0.2;
  right: 5%;
  top: 30%;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  background-color: #ff7139;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.container .header img {
  width: 4em;
  height: 4em;
  margin-right: 10px;
}

.container .header h1 {
  font-family: sans-serif;
  word-spacing: .5px;
}

@media (max-width: 976px) {
  .container .header h1 {
    font-size: 22px;
  }
  .container .header img {
    width: 3.4em;
    height: 3.4em;
  }
}

@media (max-width: 563px) {
  .container .header h1 {
    font-size: 17px;
  }
  .container .header img {
    width: 3em;
    height: 3em;
  }
}

@media (max-width: 351px) {
  .container .header h1 {
    font-size: 16px;
  }
  .container .header img {
    width: 2em;
    height: 2em;
  }
}

.container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container .cont {
  width: 50%;
  position: relative;
  height: 31em;
  margin-top: .3em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.container .cont .designSection {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.8;
  z-index: 4;
}

.container .cont .designSection img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  -webkit-animation: startVehicle 2s ease-in-out .4s;
          animation: startVehicle 2s ease-in-out .4s;
}

@-webkit-keyframes startVehicle {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0deg) scale(110%);
            transform: translateY(20px) rotate(0deg) scale(110%);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

@keyframes startVehicle {
  0% {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(0deg) scale(110%);
            transform: translateY(20px) rotate(0deg) scale(110%);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(360deg);
            transform: translateY(0px) rotate(360deg);
  }
}

.container .cont .designSection div {
  font-family: cursive;
  font-weight: bold;
}

.container .cont h1 {
  text-align: center;
  font-size: 19px;
  color: white;
  font-size: 24px;
  padding: 25px;
  font-family: sans-serif;
  background: linear-gradient(45deg, rgba(255, 17, 0, 0.856), rgba(255, 166, 0, 0.863), rgba(0, 0, 255, 0.795));
}

.container .cont .innerCont {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  background-color: rgba(202, 202, 202, 0.575);
  height: 85%;
  overflow: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0%;
  margin-bottom: 4em;
  z-index: 2;
}

.container .cont .innerCont .sender {
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .cont .innerCont .sender .senderInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.container .cont .innerCont .sender .senderInner .options {
  max-width: 20em;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .cont .innerCont .sender .senderInner .options span {
  margin: 3px;
  font-family: monospace;
}

.container .cont .innerCont .sender .senderInner .options .describe {
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

.container .cont .innerCont .sender .senderInner .options .describe .spanIn {
  width: 100%;
  height: 100%;
  display: block;
}

.container .cont .innerCont .sender .senderInner .dots {
  padding: 4px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.5em;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0051ff;
}

.container .cont .innerCont .sender .senderInner .dots div {
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 7px;
  background-color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container .cont .innerCont .sender .senderInner .dots .goUp {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.container .cont .innerCont .sender .senderInner .dots .two {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.container .cont .innerCont .sender .senderInner .dots .three {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.container .cont .innerCont .sender .senderInner span {
  text-align: right;
  display: block;
  border: 1px solid rgba(0, 81, 255, 0.705);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 81, 255, 0.705);
  color: white;
  max-width: 17em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
  margin-top: 3px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
}

.container .cont .innerCont .reciever {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .cont .innerCont .reciever span {
  text-align: right;
  display: block;
  border: 1px solid #ff3300;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 43, 5, 0.705);
  color: white;
  max-width: 17em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
  margin-top: 3px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
}

.container .cont .innerCont .reciever .recieverInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.container .cont .innerCont .reciever .recieverInner .options {
  max-width: 15.5em;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
}

.container .cont .innerCont .reciever .recieverInner .options span {
  margin: 2px;
  font-family: monospace;
  cursor: pointer;
}

.container .cont .innerCont .reciever .recieverInner .options .describe {
  width: 15.5em;
  text-align: center;
  font-family: sans-serif;
}

.container .cont .innerCont .reciever .recieverInner .options .describe .spanIn {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

.container .cont .innerCont .reciever .recieverInner .options .hide {
  display: none;
}

.container .cont .innerCont .reciever .recieverInner .dots {
  padding: 4px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.5em;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff3300;
}

.container .cont .innerCont .reciever .recieverInner .dots div {
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 7px;
  background-color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container .cont .innerCont .reciever .recieverInner .dots .goUp {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.container .cont .innerCont .reciever .recieverInner .dots .two {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.container .cont .innerCont .reciever .recieverInner .dots .three {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.container .cont .innerCont .recieverMechanics {
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .cont .innerCont .recieverMechanics span {
  text-align: right;
  display: block;
  border: 1px solid black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  max-width: 12em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: inline-block;
  word-wrap: break-word;
  text-align: left;
  margin-top: 3px;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .options {
  max-width: 15.5em;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.516);
  border-radius: 10px;
  padding: 5px;
  margin-left: 0px;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .options span {
  margin: 2px;
  font-family: monospace;
  cursor: pointer;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .options .describe {
  width: 15.5em;
  text-align: center;
  font-family: sans-serif;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .options .describe .spanIn {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  font-family: sans-serif;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .options .hide {
  display: none;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .dots {
  padding: 4px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.5em;
  margin: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ff3300;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .dots div {
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 7px;
  background-color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .dots .goUp {
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .dots .two {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.container .cont .innerCont .recieverMechanics .recieverMechanicsInner .dots .three {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

.container .cont .inputSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 15%;
  z-index: 2;
}

.container .cont .inputSection input {
  height: 4em;
  margin: 3px;
  width: 80%;
  font-family: sans-serif;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid orangered;
}

.container .cont .inputSection button {
  padding: 10px;
  background-color: orangered;
  color: white;
  font-family: sans-serif;
  border: 2px solid #330f02;
  border-radius: 10px;
}

.container .cont .inputSection i {
  font-size: 19px;
}

.container .cont .inputSection .blur {
  background-color: #f7916c;
}

.container .errorMessage {
  background-color: #f86e12;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 3px;
}

@media (max-width: 836px) {
  .container .cont {
    width: 70%;
  }
}

@media (max-width: 620px) {
  .container .cont {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .container .cont {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */